<html>
<body>
<h1>Welcome</h1>
<form [formGroup]="contactForm" (ngSubmit)="contact()">

  <div>
    <input type="number" name="phoneNumber" placeholder="Enter Mobile Number" id="phoneNumber" value="phoneNumber" formControlName="phoneNumber" />

    <div *ngIf="!contactForm.controls['phoneNumber'].valid && contactForm.controls['phoneNumber'].errors.numberLength
&& buttonClicked">
    <p>This Phone Number length must be valid</p>
    </div>
    <div *ngIf="!contactForm.controls['phoneNumber'].valid && contactForm.controls['phoneNumber'].errors.required && buttonClicked">
      <p>This Phone Number is required</p>
    </div>

</div>
  <div>
    <button type="submit" class="btn btn-white">See My Work</button>
  </div>
</form>

<div class="results" *ngIf="pNumbers" style="text-align: center; text-decoration: none">
  <div>
    <p>Result Length: {{pNumbers.length}}</p>
  </div>
  <ul>
  <li *ngFor="let number of pNumbers">
    <p>{{number}}</p>
  </li>

  </ul>
</div>


</body>
</html>
